username: FIXME
password: FIXME

node_location: FIXME

worker_config_template_id: FIXME

rabbitmq_location: FIXME

logs:
  dir: FIXME (logs directory)
  trace: true/false (if true than for every experiment run dedicated file will be created)

wfgen:
  script_location: FIXME (wfgen script location) https://gitlab.dev.cyfronet.pl/ismop/wfgen

hyperflow:
  script_location: FIXME (hyperflow script location) https://github.com/dice-cyfronet/hyperflow

exp:
  url: https://exp.moc.ismop.edu.pl
  token: FIXME (goto https://exp.moc.ismop.edu.pl/profile Credentials tab)
  verify: false

dap:
  url: https://dap.moc.ismop.edu.pl
  token: FIXME (goto https://dap.moc.ismop.edu.pl/profile Credentials tab)
  verify: false

worker:
#  redis_url: redis://localhost:6379
#  namespace: hypgen